<div class="wrapper-search col-xs-12 col-sm-12">

    <!--search header part -->
  <div class="search-header col-xs-12 col-sm-12">
        <h3 style="padding-left:5px"> Contact Details </h3>
  </div>

  <div class="container col-sm-12">
    
    <div class="form form-horizontal col-xs-12 col-sm-12"> 
      <fieldset>
        <legend><h3 style="padding-left:5px">Contact Information</h3></legend>

          <div class="form-group col-sm-12 col-xs-12 col-lg-3 col-md-3 pull-right">
            <div class="imgContainer">
              <span class="imgHeader"> Contact Image </span>
              <image class="image image-responsive" ng-src="{{contact.profImg}}" width="200px" height="200px"></image>
            </div>
          </div>

          <div class="form-group col-sm-12 col-xs-12 col-lg-9 col-md-9 pull-left" style="margin-right: 0px;">

            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.active" > Active </label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"><input type="checkbox" id="contact.active" ng-model="contact.active"></div>
            </div>

            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.Title">Title</label>
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <select id="contact.Title" ng-model="contact.title" class="form-control" placeholder="Title">
                    <option value="" disabled selected hidden> Select Title</option>
                    <option value="Client"> Client</option>
                    <option value="Customer"> Customr</option>
                    <option value="Vendor"> Vendor</option>
                    <option value="Staff"> Staff</option>
                    <option value="Owner"> Owner</option>
                    <option value="Superviser"> Superviser</option>
                  </select>
              </div>
            </div>

            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.nameF"> First Name </label>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <input type="text" id="contact.NameF" ng-model="contact.nameF" class="form-control" placeholder="Name First">
              </div>
            
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="newContact.nameF"> Last Name</label>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <input type="text" id="con.NameL" ng-model="contact.nameL" class="form-control" placeholder="Name Last">
              </div>
            </div>

            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.email"> Email Add. </label>
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="email" id="contact.email" ng-model="contact.email" class="form-control" placeholder="Email Address"></div>
            </div>

            <div class="row col-sm-12">
            <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.phone1"> Phone No</label>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="contact.phone1" ng-model="contact.phone1" class="form-control" placeholder="Primary Phone No"></div>

            <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.phone2"> Alt. Phone</label>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="contact.phone2" ng-model="contact.phone2" class="form-control" placeholder="Alternative Phone No"></div>
            </div>
          </div>
        
      </fieldset>

      <fieldset>
        <legend><h3 style="padding-left:5px"> Contact Address</h3></legend>
         
          <div class="form-group col-sm-12 col-xs-12 col-lg-12 col-md-12" style="margin-right: 0px;">

            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.nameF"> Address Line 1 </label>
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="text" id="contact.address" ng-model="contact.address" class="form-control" placeholder="Address Line 1"></div>
            </div>
            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.nameF"> Address Line 2 </label>
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="text" id="contact.NameL" ng-model="contact.nameL" class="form-control" placeholder="Address Line 2"></div>
            </div>
            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.city"> City </label>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><input type="text" id="contact.city" ng-model="contact.city" class="form-control" placeholder="City"></div>

              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.state"> State </label>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><input type="text" id="contact.state" ng-model="contact.state" class="form-control" placeholder="State"></div>

              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.country"> Country </label>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <select ng-option="country.name for country in listCountries" id="contact.country" ng-model="contact.country" class="form-control" placeholder="Country"></select>
              </div>
            </div>
          
            <div class="row col-sm-12">
              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.pincode"> Pincode </label>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <input type="text" id="contact.pincode" ng-model="contact.pincode" class="form-control" placeholder="Pincode">
              </div>

              <label class="control-label col-xs-12 col-sm-12 col-md-2 col-lg-2" for="contact.landmark"> Landmark </label>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><input type="text" id="contact.landmark" ng-model="contact.landmark" class="form-control" placeholder="Landmark">
              </div>
            </div>
          </div>
      </fieldset>

              <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right" style="margin-right: 0px;">
              
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-right">
                  <input type="button" class="btn btn-primary" value="Edit Contact" ng-click="contact.formSubmit()"></input>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-right">
                  <input type="button" class="btn btn-warning" value="Delete Contact" ng-click="contact.formReset()"></input>
                </div>
              </div>
    </div>
  </div>
</div>
