<div class="wrapper-search col-xs-12 col-sm-12">

    <!--search header part -->
  <div class="search-header col-xs-12 col-sm-12">
        <h3 style="padding-left:5px"> Product Details </h3>
  </div>

  <div class="container col-sm-12">
    
    <div class="form form-horizontal col-xs-12 col-sm-12" style="margin: 5px; padding: 0px;"> 

<!-- Part of the screen where the product image will be displayed-->
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 pull-right" styele = "margin-right:5px;">
        <div class="imagecontainerbig col-xs-12 col-sm-12">
          <image ng-src="{{product.imagecurrent}}"></image>
        </div>
        <div class="thumbnailcontainer col-xs-12 col-sm-12">
          <!--Part for the thumbnail images-->
          <div class="thumbnail" ng-repeat="img in product.images" ng-click="showImageSelected()" ng-mouseover="showImageSelected()">
            <image class="thumbnailimage" ng-src="{{img.image}}">
          </div>
        </div>
      </div>


<!-- Part of the screen where the product info will be displayed-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left" style="margin: 0px; padding: 0px;">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label class="control-label" for="product.active" > Active : </label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <input type="checkbox" id="product.active" ng-model = "product.active" style="height:34px;line-height: 34px; margin: 0px">
          </div>
        </div>

         <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label class="control-label" for="product.itemNo" > Item No. : </label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p id="product.itemNo" ng-model = "product.itemNo">
          </div>
        </div>

         <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label class="control-label" for="product.sku" > Item SKU :</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p id="product.sku" ng-model = "product.sku">
          </div>
        </div>
      </div>



        <!--div class="form-group">
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.active" > Active </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="checkbox" id="product.active" ng-model="product.active" placeholder="Name First" style="height:34px;line-height: 34px; margin: 0px;"></div>
          </div>
          
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.itemNo"> Item No. </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="product.itemNo" ng-model="product.itemNo" class="form-control" placeholder="Item No."></div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" style="text-align: right;" for="product.sku"> Product SKU</label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right"><input type="text" id="product.sku" ng-model="product.sku" class="form-control" placeholder="SKU#"></div>
          </div>
        

          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.name"> Product Name </label></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="text" id="product.name" ng-model="product.name" class="form-control" placeholder="Product Name"></div>
          </div>
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.category"> Product Category </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="product.category" ng-model="product.category" class="form-control" placeholder="Product Category"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.subcategory"> SubCategory </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="product.subcategory" ng-model="product.subcategory" class="form-control" placeholder="Product SubCategory"></div>
          </div>
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.description"> Product Description</label></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><textarea id="product.description" style="height: 68px;" ng-model="product.description" class="form-control" placeholder="Product Description"></textarea></div>
          </div>
        </div>
      </fieldset>

      <fieldset class="col-xs-12 col-sm-12">
        <legend><h3 style="padding-left:5px"> Vendor and Pricing</h3></legend>
        <div class="form-group" -->
          <!-- Product vendor and manufacturer -->
          <!--div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.vendor"> Primary Vendor </label></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="text" id="product.vendor" ng-model="product.vendor" class="form-control" placeholder="Primary Vendor"></div>
          </div>
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.manufacturer"> Manufacturer </label></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><input type="text" id="product.manufacturer" ng-model="product.manufacturer" class="form-control" placeholder="Manufacturer"></div>
          </div-->
          <!-- Product Pricing Info -->
          <!--div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.retailPrice"> Retail Price </label></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><input type="text" id="product.retailPrice" ng-model="product.retailPrice" class="form-control" placeholder="Retail Price"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.wholePrice"> Wholesale Price </label></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><input type="text" id="product.wholePrice" ng-model="product.wholePrice" class="form-control" placeholder="Wholesale Price"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.discPrice"> Discount Price </label></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><input type="text" id="product.discPrice" ng-model="product.discPrice" class="form-control" placeholder="Discount Price"></div>
          </div-->
          <!-- Product Dimention and weight -->
          <!--div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><label class="control-label" for="product.length"> Length </label></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><input type="number" id="product.width" ng-model="product.width" class="form-control" placeholder="Length"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><label class="control-label" for="product.width"> Width </label></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><input type="number" id="product.width" ng-model="product.width" class="form-control" placeholder="Width"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><label class="control-label" for="product.height"> Height </label></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><input type="text" id="product.height" ng-model="product.height" class="form-control" placeholder="Height"></div>
          </div-->
          
          <!--div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.weight"> Product Weight </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="number" id="product.weight" ng-model="product.weight" class="form-control" placeholder="Weight"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label" for="product.material"> Product Material </label></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><input type="text" id="product.material" ng-model="product.material" class="form-control" placeholder="Material"></div>

          </div>
        </div>
      </fieldset> 
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-right">
              <input type="button" class="btn btn-primary" style="right:0px;" value="Add product" ng-click="product.formSubmit()"></div>
              <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-right">
              <input type="button" class="btn btn-warning" style="right:0px;" value="Cancel/Reset" ng-click="product.formReset()"></div>
          </div-->
    </div>
  </div>
</div>
