<div class="wrapper-search col-sm-12">
   <div class ="loaderSpinner" ng-hide="{{product.hideLoader}}">
    <img ng-src ="{{product.loaderPath}}" alt="Loading..." width="100px" height="100px" class="loaderImage" >
  </div>
    <!--search header part -->
  <div class="search-header col-sm-12">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding: 0px 4px 0px 4px;">
        <input type=text class="search-text" placeholder="Product Name" ng-model="product.searchText.productname">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">
        <input type=text class="search-text" placeholder="Product Catagory" ng-model="product.searchText.productcategory">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">
        <input type=text class="search-text" placeholder="vendor Name" ng-model="product.searchText.vendorname">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">
        <input type=text class="search-text" placeholder="Product SKU" ng-model="product.searchText.sku">
        </div>
  </div>

  <div class="container col-sm-12">
    <table class="table table-bordered table-responsive table-striped col-xs-12">
      <tr>
        <th class="col-md-2 col-lg-3"> Product Name </th>
        <th class="col-md-2 col-lg-2"> Product Category</th>
        <th class="col-md-3 col-lg-2"> Product Subcategory </th>
        <th class="col-md-2 col-lg-3"> Product Vendor </th>
        <th class="col-md-2 col-lg-2"> Retail Price </th>
        <th class="col-md-1 col-lg-2" style="padding:2px 0px 2px 1px; display: inline-block; width: 70px">
          <button type="button" ng-click="product.selectView('views/partials/searchproduct.html')" class="col-xs-12 col-sm-12 table-button">
            <span class="glyphicon glyphicon-th-list"></span>
          </button>
          <button class="col-xs-12 col-sm-12 table-button" ng-click="product.selectView('views/partials/searchproductgrid.html')">
            <span class="glyphicon glyphicon-th"></span>
          </button>
        </th>
      </tr>
      

      <tr id="row{{$index}}" ng-repeat="product in productdata | filter:product.searchText | limitTo:50" class="table-row" ng-hide="loadTableRows">
        <td><input type="text" ng-model="product.productname" class="col-xs-12 col-sm-12 table-text" readonly="true"></td>
        <td><input type="text" ng-model="product.productcategory" class="col-xs-12 col-sm-12 table-text" readonly="true"></td>
        <td><input type="text" ng-model="product.subcategory" class="col-xs-12 col-sm-12 table-text" readonly="true"></td>
        <td><input type="text" ng-model="product.vendor[0].vendorname" class="col-xs-12 col-sm-12 table-text" readonly="true"></td>
        <td><input type="text" ng-model="product.retailprice" class="col-xs-12 col-sm-12 table-text" readonly="true"></td>
        <td style="padding:8px 0px 8px 0px; display: inline-block; width: 70px">
          <button type="button" ng-click="product.viewRow()" class="col-xs-12 col-sm-12 table-button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <button class="col-xs-12 col-sm-12 table-button" ng-click="deleteRow('row'+$index)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>

</div>