<div class="wrapper-main col-sm-12 col-xs-12 col-lg-12" ng-init="contact.loadContactPartials()">

  <div class="wraper-sidebarmenu col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                 <!-- Side bar menus -->
      <div class="panel-group col-xs-12 col-sm-12" id="accordion">
        <div class="panel panel-menu"> 
            <ul class="list-group">
              <li>
                <button class="menuitem-btn-main" id="#contactaction" data-toggle="collapse" data-target="#contactaction" data-parent="accordion"> Contact Action </button>
              </li>
            </ul>
        </div>
        <div id="contactaction" class="panel-collapse collapse in">
          <ul class="list-group">
            <li"><button class="menuitem-btn" ng-click="contact.selectView('views/partials/searchcontact.html')"> Search Contact</button> </li>
            <li><button class="menuitem-btn" ng-click="contact.selectView('views/partials/newcontact.html')"> New Contact</button></li>
            </ul>
        </div>                      
        <div class="panel panel-menu"> 
            <ul class="list-group">
              <li>
                <button class="menuitem-btn-main" id="#contactaction" data-toggle="collapse" data-target="#managecontact" data-parent="accordion"> Manage Contact </button>
              </li>
            </ul>
        </div>
        <div id="managecontact" class="panel-collapse collapse in">
          <ul class="list-group">
            <li><button class="menuitem-btn" ng-click="contact.selectView('views/partials/contactdetails.html')"> Contact Details</button> </li>
            <li><button class="menuitem-btn" ng-click="contact.selectView('views/partials/contactlocation.html')"> Contact Locations</button></li>
            <li><button class="menuitem-btn" ng-click="contact.selectView('views/partials/searchcontact.html')"> Related Contact</button></li>

          </ul>
        </div>
      </div>
  </div>

  <div class="wrapper-middle-content-product col-xs-12 col-sm-12 col-md-10 col-lg-10">
    <div ng-include="contact.selectedView"> 
    </div>
  </div>

   
</div>